
body {
    text-align: center;
}

.topo{
  overflow: hidden;
  background-color: #cb6d45;
  color: #FFE7D4;
  padding: 10px 10px;
}

.form-login{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center
}

.form-login input{
	margin: 10px;
}

.form-login button{
	margin: 10px;
}

